* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: rgb(245, 245, 245);
  color: #201f1f;
  width: 100%;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #f4f2f2;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.movies-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

article {
  width: 300px;
  margin: 50px auto;
}

img {
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

figcaption, .header {
  margin: 10px 0;
}

span {
  font-weight: 700;
}

footer, h1 {
  background: #9E829C;
}

footer ul {
  font-size: 1.5rem;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer ul, h1 {
  padding: 50px;
} 

@media only screen and (max-width: 1024px ) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px ) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px ) {
  .movies-container {
    grid-template-columns: repeat(1, 1fr);
  }
}