@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: rgb(255, 255, 255);
  color: #201f1f;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;}

a {
  color: #201f1f;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: #beccff;
  text-decoration: none;
}

header, footer {
  background: #EDF0FF;
}


h1 {
  color: #201f1f;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 50px;
}

.title, .title:hover {
  color: #3e64ff;
  text-decoration:underline;
}

.movies-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

article {
  width: 300px;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}

article:hover {
  transform: translateY(-10px);
}

img {
  border-radius: 10px;
}

h2 {
  color: #3e64ff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

figcaption, .header {
  margin: 10px 0;
}

span {
  font-weight: 700;
}


footer ul {
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer a:hover {
  color: #3e64ff;
}


@media only screen and (max-width: 1024px ) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px ) {
  h1 {
    font-size: 2.2rem;
  }

  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px ) {
  .movies-container {
    grid-template-columns: repeat(1, 1fr);
  }
}